body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #141414;
  color: #ffffff;
}

#chat-container {
  display: flex;
  flex: 1;
  position: relative;
  transition: width 0.3s ease;
}

/* Sidebar styling */
#chat-sidebar {
  width: 25%;
  max-width: 300px;
  background-color: #141414;
  padding: 10px;
  overflow-y: auto;
  color: #ffffff;
  transition: transform 0.3s ease, width 0.3s ease;
  transform: translateX(0);
}

#chat-sidebar.collapsed {
  transform: translateX(-100%);
  width: 0;
  padding: 0;
}

/* Chat box styling */
#chat-box {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #282828;
  color: #ffffff;
  transition: margin-left 0.3s ease;
}

#chat-box.collapsed {
  margin-left: 0;
}

/* Collapsible button styling */
#toggle-button {
  position: absolute;
  left: calc(25% - 35px);
  /* Fixed position just outside the expanded sidebar */
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  transition: left 0.3s ease;
}

/* Message styling */
.message {
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
}

.sent {
  background-color: #282828;
  align-self: flex-end;
  text-align: right;
}

.received {
  background-color: transparent;
  align-self: flex-start;
}

/* Input area styling */
#message-input {
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  margin-bottom: 10px;
}

/* Text input styling */
input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: #3a3a3a;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 25px;
}

/* Placeholder text color */
input[type="text"]::placeholder {
  color: #aaaaaa;
}

/* Send button styling */
#send-button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

#send-button:hover {
  background-color: #7e7e7e;
}

/* Arrow icon for send button only */
#send-button::before {
  content: '➔';
  color: #000000;
  font-size: 16px;
}

#map-container {
  margin-bottom: 20px;
  /* Adds space below the map */
}